.app-carousel {
  width: 700px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

img {
  max-height: 366px;
}

h3 {
  color: yellow;
}

h3 ~ span {
  color: springgreen;
  font-size: 20px;
}

.stars {
  max-height: 16px;
  max-width: 16px;
  background-color: springgreen;
  margin: 0 6px;
}

.carousel-title {
  text-align: center;
}

.legend-title {
  color: black;
  margin-top: 20px;
}
